/* Import from Googlefonts. Font used = poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e4deee48;
}

/* For logo */
a:link{
    text-decoration: none;
}


/* Navbar contents start here */

.logo{
    background-color: rgba(92, 91, 91, 0.642);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-top-right-radius: 1.2vw;
    border: 2px solid white;
}

.logo:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.09);
    color: white;
}

.logo:hover span{
    display: none;
}

.logo:hover::before{
    content: "Councillor Onyeama";
    font-size: large;
    font-weight: lighter;
}

#bookBtn{
    margin-left: 200px;
    padding: 0 40px;
    background-color: rgba(129, 125, 125, 0.619);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

#bookBtn:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.258);
    font-weight: 500;
    color: white;
}

.navbar{
    display: flex;
    padding: 20px 30px;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,10%), rgba(0,0,0,10%)), url(images/wall1.jpg);
    background-size: cover;
}

.navlist{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navlist li{
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.navlist li a:hover{
    cursor: pointer;
    color: cornsilk;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(176, 175, 175);
}

.menu-icon{
    display: none;
    cursor: pointer;
}

.menu-lines{
    width: 25px;
    height: 2px;
    background-color: slategrey;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Navbar contents end here */




/* Authorpage container starts here */

.authorpage-container{
    height: 3200px;
    margin: 20px;
    font-size: 0.9rem;
}


/* Author Bio container starts here */

.biocontainer{
    height: 490px;
    width: 85%;
    color: #2B3B47;
    border-radius: 20px;
    background-color: #d9d9d96c;
    margin: 150px 85px;
    padding: 50px;
    display: flex;
    gap: 50px;
    line-height: 1.8;
    text-align: justify;
}

#myimg{
    width: 200px;
    border-radius: 10px;
    box-shadow:  15px 8px rgba(0, 0, 0, 0.17);
}

/* Author Bio container ends here */


/* HEADINGS for YPIAWOP start here */

.heading-1{
    width: 600px;
    height: 70px;
    text-align: center;
    background-color: #ba4e4e;
    color: white;
    font-size: 1.3rem;
    margin: 0 300px;
    padding: 20px;
    border-radius: 15px;
}

.heading-2{
    width: 750px;
    height: 70px;
    text-align: center;
    background-color: #606060;
    color: white;
    font-size: 1.3rem;
    margin: 0 220px;
    padding: 20px;
    border-radius: 15px;
}

/* HEADINGS for YPIAWOP end here */


/* YPIAWOP book sampling starts here */

.booksample-container{
    height: 400px;
    width: 90%;
    background-color: #D9D9D9;
    margin: 0 40px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sampleImg{
    width: 250px;
    border-radius: 10px;
    box-shadow:  15px 8px rgba(0, 0, 0, 0.17);
    padding: 20px;
}

/* YPIAWOP book sampling ends here */


/* Books by the author container starts here */

.mybooks-container{
    height: 1400px;
    width: 85%;
    background-color: #d9d9d91f;
    margin: 200px 85px;
    padding: 20px 130px;
    color: #2B3B47;
    line-height: 1.8;
    text-align: center;
}

#mybooksImg-1{
    width: 200px;
    height: 250px;
    margin: 25px 20px;
}

#mybooksImg-2{
    width: 250px;
    height: 250px;
    margin: 25px 20px;
}

.ebook{
    margin: 80px 0;
}

.ebook h3{
    color: #2B3B47;
    font-size: 1.5rem;
    text-decoration: overline 2px solid orange;
}

.ebook li{
    list-style: none;
    line-height: 2;
    background-color: whitesmoke;
    margin-top: 10px;
}

.ebook li a{
    color: blue;
}

.ebook li a:hover{
    color: rgba(0, 0, 255, 0.722);
}

.paperback h3{
    color: #2B3B47;
    font-size: 1.5rem;
    text-decoration: overline 2px solid orange;
}

.paperback li{
    list-style: none;
    line-height: 2;
}

.mybooksBtns button{
    margin: 80px 50px;
    padding: 15px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
}

.mybooksBtns button a{
    color: white;
}

.mybooksBtns button:hover{
    cursor: pointer;
    background-color: rgba(255, 166, 0, 0.89);
}

/* Books by the author container ends here */

/* Authorpage container ends here */





/* FOOTER */

.footer{
    background-color: olive;
    height: 350px;
    width: 100%;
    padding: 30px;
    font-size: 0.9rem;
}

.footer h2{
    text-align: center;
    color: rgba(1, 1, 1, 0.574);
}

.footer-logo{
    background-color: rgba(92, 91, 91, 0.642);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-top-right-radius: 1vw;
    height: 38px;
    border: 2px solid rgba(0, 0, 0, 0.444);
}

.footer-logo:hover{
    cursor: pointer;
}

.logo-list li{
    list-style: none;
    line-height: 1.8;
}

.logo-list li a{
    color: black;
}

.logo-list li a:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.642);
}

.location{
    display: flex;
    gap: 5px;
}

.logo-list{
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.334);
    box-shadow: 15px 8px rgba(0, 0, 0, 0.395);
    margin: 15px 0;
}

.social-icon{
    height: 30px;
    width: 30px;
}

.location-icon{
    height: 25px;
    width: 22px;
}

.socials #github:hover, #facebook:hover, #instagram:hover, #twitter:hover, #linkedin:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.148);
    padding: 0 5px;
    border-radius: 50%;
}

.copyrights{
    display: flex;
    gap: 3px;
    margin-left: 380px;
    margin-top: 30px;
}

#copyright-icon{
    height: 20px;
    width: 25px;
}

/* FOOTER ENDS */




/* Note that media queries are only for the following phone sizes: Android Large and Small (360 width), iPhone 13 mini & 8 (375 width) and iPhone 13 promax (428 width). No Media queries for tablets and laptop or desktop sizes bigger than 1440 width. */



/* AUTHORPAGE MEDIA QUERY BEGINS HERE */


/* Hamburger Menu for 1100 Max-width Begins Here */

@media(max-width:1100px){

    .portfolio-container .blocks-1{
        display: inline-block;
    }
    
    .menu-icon{
        display: block;
    }

    .menu-icon.active .menu-lines:nth-child(2){
        opacity: 0;
    }

    .menu-icon.active .menu-lines:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .menu-lines:nth-child(2){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navlist{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #2b3b47f9;
        color: whitesmoke;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .navlist.active{
        left: 0;
    }

    .navbar{
        justify-content: space-around;
    }

    #bookBtn{
        margin: 0;
    }

    .authorpage-container{
        height: 3500px;
    }

    .biocontainer{
        height: 800px;
    }

    .heading-1{
        margin-left: 200px;
    }

    .heading-2{
        margin-left: 120px;
    }

    .mybooks-container{
        height: 1600px;
    }
}

/* Hamburger Menu for 1100 Max-width Ends Here */





/* MEDIA QUERY FOR iPHONE 13PRO-MAX [428 width] (435 Max-width) Begins Here */

@media (max-width: 435px){
    .navbar{
        padding: 20px 0;
    }

    .logo{
        font-size: 1rem;
        border-top-right-radius: 2vmax;
        height: 35px;
    }

    .logo:hover{
        background-color: none;
        color: none;
    }
   
    .logo:hover::before{
        content: 'CillorO';
    }

    #bookBtn{
        margin: 0;
        width: 190px;
        height: 40px;
    }

    .authorpage-container{
        font-size: small;
        height: 3000px;
    }

    .biocontainer{
        display: block;
        width: 80%;
        height: 1000px;
        text-align: center;
        margin: 100px 30px;
        padding: 30px 20px;
    }

    .biotexts h1{
        margin: 20px 0;
        font-size: 1rem;
    }

    #myimg{
        width: 150px;
    }

    .heading-1{
        width: 350px;
        height: 50px;
        padding: 14px;
        font-size: small;
        margin: 0 18px;
    }

    .heading-2{
        width: 350px;
        height: 55px;
        padding: 10px;
        font-size: small;
        margin: 0 18px;
    }

    .booksample-container{
        width: 90%;
        height: 150px;
        margin-left: 15px;
        
    }

    #sampleImg{
        width: 85px;
        padding: 10px;
    }

    .mybooks-container{
        width: 90%;
        height: 1550px;
        margin-left: 10px;
        padding: 10px 40px;
        margin-top: 100px;
    }

    .mybooks-container h1{
        font-size: 1rem;
    }

    #mybooksImg-1{
        width: 90px;
        height: 120px;
        margin: 25px 5px;
    }

    #mybooksImg-2{
        width: 100px;
        height: 120px;
    }

    .ebook h3, .paperback h3{
        font-size: 1.2rem;
    }

    .paperback{
        margin-bottom: 50px;
    }

    .mybooksBtns button{
        font-size: small;
        padding: 5px;
        width: 220px;
        height: 45px;
        margin: 20px 20px;
    }
    
    .footer{
        height: 640px;
        font-size: small;
    }

    .footer, .logo-list{
        display: inline-block;
        text-align: center;
    }

    .logo-list ul{
        line-height: 25px;
        padding: 15px 0;
    }

    .location, .contact{
        padding-bottom: 15px;
    }

    .copyrights{
        margin: 5px 0;
        font-size: 1rem;
        display: inline-block;
    }

    .footer-logo{
        width: 60px;
        display: inline-block;
        border-top-right-radius: 3vmax;
    }
}

/* MEDIA QUERY FOR iPHONE 13PRO-MAX  [428 width] (435 Max-width) Ends Here */




/* MEDIA QUERY FOR iPHONE 13MINI & 8 [375 width] (380 Max-width) Begins Here */

@media(max-width: 380px){

    .authorpage-container{
        height: 3500px;
    }

    .biocontainer{
        height: 1200px;
    }

    #myimg{
        width: 130px;
        height: 150px;
    }

    .heading-1{
        width: 280px;
    }

    .heading-2{
        width: 280px;
    }

    .booksample-container{
        width: 85%;
        height: 140px;
    }

    #sampleImg{
        width: 65px;
        padding: 0;
    }

    .mybooks-container{
        height: 1700px;
    }

    #mybooksImg-1{
        width: 70px;
        height: 100px;
    }

    #mybooksImg-2{
        width: 75px;
        height: 100px;
    }

    .mybooksBtns button{
        margin: 20px 0;
    } 
}

/* MEDIA QUERY FOR iPHONE 13MINI & 8 [375 width] (380 Max-width) Ends Here */




/* MEDIA QUERY FOR ANDROID LARGE AND SMALL [360 width] (365 Max-width) Begins Here */

@media(max-width: 365px){

    .authorpage-container{
        height: 3500px;
    }

    .biocontainer{
        width: 90%;
        margin-left: 15px;
        height: 1000px;
    }

    #sampleImg{
        width: 60px;
    }

    .mybooks-container h1{
        font-size: 0.9rem;
    }

    .ebook h3, .paperback h3{
        font-size: medium;
    }

    .mybooksBtns button{
        margin: 20px 0;
    } 
}

/* MEDIA QUERY FOR ANDROID LARGE AND SMALL [360 width] (365 Max-width) Ends Here */