/* Import from Googlefonts. Font used = poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e4deee48;
}

/* For logo */
a:link{
    text-decoration: none;
}


/* Navbar contents start here */

.logo{
    background-color: rgba(92, 91, 91, 0.642);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-top-right-radius: 1.2vw;
    border: 2px solid white;
}

.logo:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.09);
    color: white;
}

.logo:hover span{
    display: none;
}

.logo:hover::before{
    content: "Councillor Onyeama";
    font-size: large;
    font-weight: lighter;
}

#bookBtn{
    margin-left: 200px;
    padding: 0 40px;
    background-color: rgba(129, 125, 125, 0.619);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

.navbar button a{
    text-decoration: none;
    color: white;
}

#bookBtn:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.258);
    font-weight: 500;
    color: white;
}

.navbar{
    display: flex;
    padding: 20px 30px;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,10%), rgba(0,0,0,10%)), url(images/wall1.jpg);
    background-size: cover;
}

.navlist{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navlist li{
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.navlist li a:hover{
    cursor: pointer;
    color: cornsilk;
}

.navlist a.alive{
    border-bottom: 3px solid cornsilk;;
    padding: 12px 8px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(176, 175, 175);
}

.menu-icon{
    display: none;
    cursor: pointer;
}

.menu-lines{
    width: 25px;
    height: 2px;
    background-color: slategrey;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Navbar contents end here */



/* Blog heading starts here */

.blogheading{
    text-align: center;
    margin: 50px 0;
    color: #2B3B47;
    font-size: 1.4rem;
}

.blogheading span{
    color: olive;
}

.blogheading #welcome{
    font-family: kaufmann BT;
    font-size: 3.2rem;
    color: olive;
}

/* Blog heading ends here */




/* FOOTER */

.footer{
    background-color: olive;
    height: 350px;
    width: 100%;
    padding: 30px;
    font-size: 0.9rem;
}

.footer h2{
    text-align: center;
    color: rgba(1, 1, 1, 0.574);
}

.footer-logo{
    background-color: rgba(92, 91, 91, 0.642);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-top-right-radius: 1vw;
    height: 38px;
    border: 2px solid rgba(0, 0, 0, 0.444);
}

.footer-logo:hover{
    cursor: pointer;
}

.logo-list li{
    list-style: none;
    line-height: 1.8;
}

.logo-list li a{
    color: black;
}

.logo-list li a:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.642);
}

.location{
    display: flex;
    gap: 5px;
}

.logo-list{
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.334);
    box-shadow: 15px 8px rgba(0, 0, 0, 0.395);
    margin: 15px 0;
}

.social-icon{
    height: 30px;
    width: 30px;
}

.location-icon{
    height: 25px;
    width: 22px;
}

.socials #github:hover, #facebook:hover, #instagram:hover, #twitter:hover, #linkedin:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.148);
    padding: 0 5px;
    border-radius: 50%;
}

.copyrights{
    display: flex;
    gap: 3px;
    margin-left: 380px;
    margin-top: 30px;
}

#copyright-icon{
    height: 20px;
    width: 25px;
}

/* FOOTER ENDS */





/* Note that media queries are only for the following phone sizes: Android Large and Small (360 width), iPhone 13 mini & 8 (375 width) and iPhone 13 promax (428 width). No Media queries for tablets and laptop or desktop sizes bigger than 1440 width. */



/* DEVELOPERBLOG PAGE MEDIA QUERY BEGINS HERE */


/* Hamburger Menu for 1100 Max-width Begins Here */

@media(max-width:1100px){

    .portfolio-container .blocks-1{
        display: inline-block;
    }
    
    .menu-icon{
        display: block;
    }

    .menu-icon.active .menu-lines:nth-child(2){
        opacity: 0;
    }

    .menu-icon.active .menu-lines:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .menu-lines:nth-child(2){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navlist{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #2b3b47f9;
        color: whitesmoke;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .navlist.active{
        left: 0;
    }

    .navbar{
        justify-content: space-around;
    }

}

/* Hamburger Menu for 1100 Max-width Ends Here */





/* MEDIA QUERY FOR iPHONE 13PRO-MAX [428 width] (435 Max-width) Begins Here */

@media (max-width: 435px){
    .navbar{
        padding: 20px 0;
    }

    .logo{
        font-size: 1rem;
        border-top-right-radius: 2vmax;
        height: 35px;
    }

    .logo:hover{
        background-color: none;
        color: none;
    }
   
    .logo:hover::before{
        content: 'CillorO';
    }

    #bookBtn{
        margin: 0;
        width: 190px;
        height: 40px;
    }

    .blogheading{
        font-size: 1.5rem;
    }

    .blogheading #welcome{
        font-size: 2.5rem;
    }

    .footer{
        height: 620px;
        font-size: small;
        margin-top: 80px;
    }

    .footer, .logo-list{
        display: inline-block;
        text-align: center;
    }

    .logo-list ul{
        line-height: 25px;
        padding: 15px 0;
    }

    .location, .contact{
        padding-bottom: 15px;
    }

    .copyrights{
        margin: 5px 0;
        font-size: 1rem;
        display: inline-block;
    }

    .footer-logo{
        width: 60px;
        display: inline-block;
        border-top-right-radius: 3vmax;
    }
}

/* MEDIA QUERY FOR iPHONE 13PRO-MAX  [428 width] (435 Max-width) Ends Here */





/* MEDIA QUERY FOR iPHONE 13MINI & 8 [375 width] (380 Max-width) Begins Here */

@media (max-width: 380px){
    
    .blogheading{
        font-size: 1.2rem;
    }
}

/* MEDIA QUERY FOR iPHONE 13MINI & 8 [375 width] (380 Max-width) Ends Here */





/* MEDIA QUERY FOR ANDROID LARGE AND SMALL [360 width] (365 Max-width) Begins Here */

@media (max-width: 365px){
    
    .blogheading{
        font-size: large;
    }
}

/* MEDIA QUERY FOR ANDROID LARGE AND SMALL [360 width] (365 Max-width) Ends Here */