/* Import from Googlefonts. Font used = poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e4deee48;
}

/* For logo */
a:link{
    text-decoration: none;
}


/* Navbar contents start here */

.logo{
    background-color: rgba(92, 91, 91, 0.642);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-top-right-radius: 1.2vw;
    border: 2px solid white;
}

.logo:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.09);
    color: white;
}

.logo:hover span{
    display: none;
}

.logo:hover::before{
    content: "Councillor Onyeama";
    font-size: large;
    font-weight: lighter;
}

#bookBtn{
    margin-left: 200px;
    width: 200px;
    height: 45px;
    background-color: rgba(129, 125, 125, 0.619);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

.navbar button a{
    text-decoration: none;
    color: white;
}

#bookBtn:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.258);
    font-weight: 500;
    color: white;
}

.navbar{
    display: flex;
    padding: 20px 30px;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,10%), rgba(0,0,0,10%)), url(images/wall1.jpg);
    background-size: cover;
}

.navlist{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navlist li{
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.navlist li a:hover{
    cursor: pointer;
    color: cornsilk;
}

.navlist a.alive{
    border-bottom: 3px solid cornsilk;;
    padding: 12px 8px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(176, 175, 175);
}

.menu-icon{
    display: none;
    cursor: pointer;
    height: 20px;
}

.menu-lines{
    width: 25px;
    height: 2px;
    background-color: slategrey;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Navbar contents end here */



/* Contents for Portfolio Container start here */

.portfolio-container{
    height: 1200px;
    margin: 50px 20px;
    font-size: 0.9rem;
}

.portfolio-container h1{
    text-decoration: overline 2px solid olive;
    padding: 30px;
    text-align: center;
    color: #2B3B47;
}

.portfolio-container .blocks-1{
    display: flex;
    gap: 40px;
    
}

.author-website{
    width: 340px;
    height: 230px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.author-website:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.167);
}

.authorweb-icon{
    width: 55px;
    height: 55px;
}

#project-Btn{
    padding: 15px;
    height: 60px;
    width: inherit;
    background-color: olive;
    color: white;
    border-radius: 5px;
    margin-top: 8px;
}


/* Click button big container */
.clickBtn-container{
    height: 120px;
    margin: 50px;
    background-color: #2B3B47;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    color: white;
}

/* Click button small container */
.clickBtn{
    width: 620px;
    height: 60px;
    border: 2px solid lightgreen;
    border-radius: 40px;
    margin: 25px;
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    font-size: 1rem;
}

.clickBtn-container .Hire-text{
    padding: 10px 50px;
    font-size: 0.9rem;
    text-align: center;
}

.otherprojects-containter{
    height: 300px;
    opacity: 0;
    transition: opacity 0.5s;
}


/* Styling for click button functionality starts here */

button{
    background-color: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
  
button span{
    display: block;
    background-color: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.active{
    background-color: olive;
}
  
.active span{
    background-color: #fff;
    margin-left: 31px;
}

.on{
    opacity: 1;
}

.extend{
    height: 1500px;
}

/* Styling for click button functionality ends here */


/* Other projects button */
#OP-Btn{
    background-color: #2B3B47;
    padding: 15px;
    height: 60px;
    width: inherit;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

/* Contents for Portfolio Container end here */



/* Statement contents start here */

.statement-container{
    height: 690px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.statement-container p, #h2{
    color: #2b3b47d5;
}

.photo-text{
    height: 500px;
    width: 1100px;
    margin: 20px 75px;
    background-color: #eceff9;
    display: flex;
    gap: 30px;
    padding: 30px 70px;
}

#girlphoto{
    width: 450px;
    height: 430px;
    margin-right: -40px;
}

#webphoto{
    width: 500px;
    height: 410px;
    box-shadow: 0px 0px 15px black;
}

#connectBtn{
    width: 200px;
    height: 50px;
    margin: 30px 80px;
    background-color: #000942eb;
    color: white;
    text-align: center;
}

/* Statement contents end here */




/* FOOTER */

.footer{
    background-color: olive;
    height: 350px;
    width: 100%;
    padding: 30px;
    font-size: 0.9rem;
}

.footer h2{
    text-align: center;
    color: rgba(1, 1, 1, 0.574);
}

.footer-logo{
    background-color: rgba(92, 91, 91, 0.642);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-top-right-radius: 1vw;
    height: 38px;
    border: 2px solid rgba(0, 0, 0, 0.444);
}

.footer-logo:hover{
    cursor: pointer;
}

.logo-list li{
    list-style: none;
    line-height: 1.8;
}

.logo-list li a{
    color: black;
}

.logo-list li a:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.642);
}

.location{
    display: flex;
    gap: 5px;
}

.logo-list{
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.334);
    box-shadow: 15px 8px rgba(0, 0, 0, 0.395);
    margin: 15px 0;
}

.social-icon{
    height: 30px;
    width: 30px;
}

.location-icon{
    height: 25px;
    width: 22px;
}

.socials #github:hover, #facebook:hover, #instagram:hover, #twitter:hover, #linkedin:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.148);
    padding: 0 5px;
    border-radius: 50%;
}

.copyrights{
    display: flex;
    gap: 3px;
    margin-left: 380px;
    margin-top: 30px;
}

#copyright-icon{
    height: 20px;
    width: 25px;
}

/* FOOTER ENDS */




/* Note that media queries are only for the following phone sizes: Android Large and Small (360 width), iPhone 13 mini & 8 (375 width) and iPhone 13 promax (428 width). No Media queries for tablets and laptop or desktop sizes bigger than 1440 width. */



/* PORTFOLIO PAGE MEDIA QUERY BEGINS HERE */


/* Hamburger Menu for 1100 Max-width Begins Here */

@media(max-width:1100px){

    .portfolio-container .blocks-1{
        display: inline-block;
    }
    
    .menu-icon{
        display: block;
    }

    .menu-icon.active .menu-lines:nth-child(2){
        opacity: 0;
    }

    .menu-icon.active .menu-lines:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .menu-lines:nth-child(2){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navlist{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #2b3b47f9;
        color: whitesmoke;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .navlist.active{
        left: 0;
    }

    .navbar{
        justify-content: space-around;
    }
}

/* Hamburger Menu for 1100 Max-width Ends Here */





/* MEDIA QUERY FOR iPHONE 13PRO-MAX [428 width] (435 Max-width) Begins Here */

@media (max-width: 435px){
    .navbar{
        padding: 20px 0;
    }

    .logo{
        font-size: 1rem;
        border-top-right-radius: 2vmax;
        height: 38px;
    }

    .logo:hover{
        background-color: none;
        color: none;
    }
   
    .logo:hover::before{
        content: 'CillorO';
    }

    #bookBtn{
        margin: 0;
        width: 180px;
        height: 40px;
    }

    .portfolio-container{
        height: 3700px;
        width: 350px;
        margin: 20px 7px;
    }

    .portfolio-container h1{
        font-size: 1.4rem;
        margin-left: 60px;
    }

    .author-website{
        width: 280px;
        margin-left: 8px;
        margin: 30px 65px;
    }
    
    #project-Btn{
        margin-left: -10px;
        height: 45px;
        padding: 5px 0;
    }

    .clickBtn-container{
        display: block;
        height: 350px;
        width: 310px;
        margin: 20px 55px;
        padding: 10px;
        font-size: small;
    }

    .clickBtn-container .Hire-text{
        padding: 0;
    }

    .clickBtn{
        width: 280px;
        margin: 20px 4px;
        font-size: small;
        text-align: center;
        padding: 10px 20px;
        height: 60px;
    }

    button{
        width: 71px;
        height: 23px;
        transition: background 0.2s;
    }

    button span{
        height: 20px;
        width: 20px;
        transition: background 0.2s, margin-left 0.2s;
    }

    .otherprojects-containter{
        height: 800px;
    }

    #OP-Btn{
        margin-left: -10px;
        height: 45px;
        padding: 5px 0;
    }

    .statement-container{
        margin-top: 0;
        height: 1050px;
        font-size: small;
    }

    .statement-container p, h2{
        padding: 5px 40px;
    }

    .photo-text{
        display: inline-block;
        width: 350px;
        height: 740px;
        margin: 20px 5px;
    }

    #girlphoto{
        width: 300px;
        height:320px;
        margin-left: -45px;
    }

    #webphoto{
        width: 310px;
        height:320px;
        margin-left: -50px; 
        margin-top: -8px;
    }

    #connectBtn{
        height: 48px;
        width: 180px;
    }

    .footer{
        height: 640px;
        font-size: small;
    }

    .footer, .logo-list{
        display: inline-block;
        text-align: center;
    }

    .logo-list ul{
        line-height: 25px;
        padding: 15px 0;
    }

    .location, .contact{
        padding-bottom: 15px;
    }

    .copyrights{
        margin: 5px 0;
        font-size: 1rem;
        display: inline-block;
    }

    .footer-logo{
        width: 60px;
        display: inline-block;
        border-top-right-radius: 3vmax;
    }
}

/* MEDIA QUERY FOR iPHONE 13PRO-MAX  [428 width] (435 Max-width) Ends Here */




/* MEDIA QUERY FOR iPHONE 13MINI & 8 [375 width] (380 Max-width) Begins Here */

@media (max-width: 380px){

    .portfolio-container{
        height: 3700px;
        width: 350px;
        margin: 20px 7px;
    }

    .portfolio-container h1{
        font-size: 1.4rem;
        margin-left: 15px;
    }

    .author-website{
        width: 250px;
        margin-left: 8px;
        margin: 30px 50px;
    }
    
    #project-Btn{
        margin-left: -10px;
        height: 45px;
        padding: 5px 0;
    }

    .clickBtn-container{
        display: block;
        height: 230px;
        width: 300px;
        margin: 20px 25px;
        padding: 10px;
        font-size: small;
    }

    .clickBtn-container .Hire-text{
        padding: 0;
    }

    .clickBtn{
        width: 280px;
        margin: 20px 1px;
        font-size: small;
        text-align: center;
        padding: 10px 20px;
        height: 60px;
    }

    button{
        width: 71px;
        height: 23px;
        transition: background 0.2s;
    }

    button span{
        height: 20px;
        width: 20px;
        transition: background 0.2s, margin-left 0.2s;
    }

    .otherprojects-containter{
        height: 800px;
    }

    #OP-Btn{
        margin-left: -10px;
        height: 45px;
        padding: 5px 0;
    }

    .statement-container{
        margin-top: 0;
        height: 1050px;
        font-size: small;
    }

    .statement-container p, h2{
        padding: 5px 40px;
    }

    .photo-text{
        display: inline-block;
        width: 350px;
        height: 740px;
        margin: 20px 5px;
    }

    #girlphoto{
        width: 300px;
        height:320px;
        margin-left: -45px;
    }

    #webphoto{
        width: 310px;
        height:320px;
        margin-left: -50px; 
        margin-top: -8px;
    }

    #connectBtn{
        height: 48px;
        width: 180px;
    }

    .footer{
        height: 640px;
        font-size: small;
    }

    .footer, .logo-list{
        display: inline-block;
        text-align: center;
    }

    .logo-list ul{
        line-height: 25px;
        padding: 15px 0;
    }

    .location, .contact{
        padding-bottom: 15px;
    }

    .copyrights{
        margin: 5px 0;
        font-size: 1rem;
        display: inline-block;
    }

    .footer-logo{
        width: 60px;
        display: inline-block;
        border-top-right-radius: 3vmax;
    }
}

/* MEDIA QUERY FOR iPHONE 13MINI & 8 [375 width] (380 Max-width) Ends Here */




/* MEDIA QUERY FOR ANDROID LARGE AND SMALL [360 width] (365 Max-width) Begins Here */


@media (max-width: 365px){
    .navbar{
        padding: 20px 0;
    }

    .logo{
        font-size: 1.1rem;
        border-top-right-radius: 2vmax;
    }

    .logo:hover{
        background-color: none;
        color: none;
    }
   
    .logo:hover::before{
        content: 'CillorO';
    }

    #bookBtn{
        margin: 0;
        width: 180px;
        height: 40px;
        
    }

    .portfolio-container{
        height: 3700px;
        width: 350px;
        margin: 20px 7px;
    }

    .portfolio-container h1{
        font-size: 1.4rem;
        margin-left: -5px;
    }

    .author-website{
        width: 250px;
        margin-left: 8px;
        margin: 30px 50px;
    }
    
    #project-Btn{
        margin-left: -10px;
        height: 45px;
        padding: 5px 0;
    }

    .clickBtn-container{
        display: block;
        height: 230px;
        width: 300px;
        margin: 20px 25px;
        padding: 10px;
        font-size: small;
    }

    .clickBtn-container .Hire-text{
        padding: 0;
    }

    .clickBtn{
        width: 280px;
        margin: 20px 1px;
        font-size: small;
        text-align: center;
        padding: 10px 20px;
        height: 60px;
    }

    button{
        width: 71px;
        height: 23px;
        transition: background 0.2s;
    }

    button span{
        height: 20px;
        width: 20px;
        transition: background 0.2s, margin-left 0.2s;
    }

    .otherprojects-containter{
        height: 800px;
    }

    #OP-Btn{
        margin-left: -10px;
        height: 45px;
        padding: 5px 0;
    }

    .statement-container{
        margin-top: 0;
        height: 1050px;
        font-size: small;
    }

    .statement-container p, h2{
        padding: 5px 40px;
    }

    .photo-text{
        display: inline-block;
        width: 350px;
        height: 740px;
        margin: 20px 5px;
    }

    #girlphoto{
        width: 300px;
        height:320px;
        margin-left: -45px;
    }

    #webphoto{
        width: 310px;
        height:320px;
        margin-left: -50px; 
        margin-top: -8px;
    }

    #connectBtn{
        height: 48px;
        width: 180px;
    }

    .footer{
        height: 675px;
        font-size: small;
    }

    .footer, .logo-list{
        display: inline-block;
        text-align: center;
    }

    .logo-list ul{
        line-height: 25px;
        padding: 15px 0;
    }

    .location, .contact{
        padding-bottom: 15px;
    }

    .copyrights{
        margin: 5px 0;
        font-size: 1rem;
        display: inline-block;
    }

    .footer-logo{
        width: 60px;
        display: inline-block;
        border-top-right-radius: 3vmax;
    }
}

/* MEDIA QUERY FOR ANDROID LARGE AND SMALL [360 width] (365 Max-width) Ends Here */